* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background: white;
    border: grey;

}

.entirenav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}


